* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #d1e0f1;
    color: #333;
}

/* header */
.header {
    width: 100%;
    background: #fff;
    padding: 15px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0; left: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.logo {
    font-size: 24px;
    font-weight: 700;
    color: #2b4eff;
}

.navbar a {
    margin: 0 15px;
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

.navbar .active,
.navbar a:hover {
    color: #2b4eff;
}

.menu-btn {
    display: none;
    font-size: 25px;
    cursor: pointer;
}

/* banner */
.about-banner {
    height: 50vh;
    background: url("images/about-banner.jpg") center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #f1e9e9;
    padding-top: 80px;
}

.about-banner h1 {
    font-size: 45px;
    font-weight: 700;
}

.about-banner p {
    font-size: 18px;
    margin-top: 10px;
}

/* about*/
.about {
    padding: 80px 5%;
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
    align-items: center;
}

.row .image img {
    width: 100%;
    border-radius: 10px;
}
.content h2 {
    font-size: 30px;
    color: #2b4eff;
}

.content p {
    margin: 10px 0;
    font-size: 16px;
    line-height: 1.6;
}

.icons-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.icons {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    text-align: center;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.icons i {
    font-size: 30px;
   color: #2b4eff;
}

.icons h3 {
    margin-top: 10px;
    font-size: 18px;
}

/* footer */
.footer {
    background: #b6bee9;
    color: #1b0f0f;
    padding: 50px 5%;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 20px;
}

.footer a {
    color: #161515;
    margin: 7px 0;
    display: block;
    font-size: 15px;
}

.footer a i {
    margin-right: 7px;
}
.footer .credit {
    margin-top: 20px;
    text-align: center;
    border-top: 1px solid rgba(255,255,255,0.3);
    padding-top: 15px;
    font-size: 14px;
}

/* responsive navbar */
@media (max-width: 768px) {
    .navbar {
        position: absolute;
        top: 70px; 
        right: -100%;
        background: #fff;
        width: 250px;
        flex-direction: column;
        padding: 20px;
        box-shadow: 0 3px 10px rgba(0,0,0,0.2);
        transition: 0.3s;
    }

    .navbar.active {
        right: 0;
    }    .menu-btn {
        display: block;
        color: #2b4eff;
    }

    .navbar a {
        margin: 10px 0;
        font-size: 18px;
    }
}


