/* blog  */
header{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.blogs {
    width: 90%;
    max-width: 900px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.blog-box {
    width: 250px;
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.blog-box img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
}

.blog-box h3 {
    margin: 10px 0;
}

.blog-box p {
    color: #666;
    font-size: 14px;
}
