/* contact */
header h1{
    text-align: center;
    text-decoration: double;
    font-family: Georgia, 'Times New Roman', Times, serif
}
.contact {
    width: 90%;
    max-width: 900px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.contact-form {
    width: 300px;
    background: #fcf9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 2px 5px 10px rgba(27, 27, 27, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #0e0d0d;
}

.contact-info {
    width: 250px;
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.contact-info p {
    margin: 8px 0;
}
button {
    background-color: blue;
    color: #fff;
    display: inline-block;
    /* width: 80px; */
    height: 40px;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 8px;

}

