body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
}

header {
    background: #3705ec;
    color: #fff;
    padding: 15px;
    text-align: center;
}

.course-box {
    width: 90%;
    max-width: 350px;
    background: #fff;
    margin: 20px auto;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.course-box img {
    width: 100%;
    border-radius: 8px;
}
button {
    display: inline-block;
    padding: 10px 15px;
    background: #1c0cfd;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}


