body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f3eeee;
}

header {
    background: #060af0;
    color: #fff;
    padding: 15px;
    text-align: center;
}

.course-box {
    width: 90%;
    max-width: 350px;
    background: #fff;
    margin: 20px auto;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.course-box img {
    width: 100%;
    border-radius: 8px;
}

button {
    display: inline-block;
    padding: 10px 15px;
    background: #4403f7;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}


