body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #ecf0f3;
}

header {
    background: #1b0fb9;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.course-box {
    bottom: auto;
    width: 90%;
    max-width: 350px;
    background: #fff;
    margin: 20px auto;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.course-box img {
    width: 100%;
    border-radius: 8px;
} 
button {
    display: inline;
    padding: 10px 15px;
    background: #0e1cd4;
    color: #f4f5f7;
    text-decoration: none;
    border-radius: 7px;
    margin-top: 10px;
}


