/* teachers */
header{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.teachers {
    width: 90%;
    max-width: 900px;
    margin: 20px auto;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.teacher-box {
    background: #fff;
    padding: 15px;
    width: 250px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(19, 17, 17, 0.1);
}

.teacher-box img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}
teacher-box h3 {
    margin: 10px 0 5px;
}

.teacher-box p {
    color: #080808;
    font-size: large;
}

